.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #003366;
    color: white;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
 
  .nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .logo {
    font-size: 20px;
    font-weight: bold;
  }
  .back-btn {
    background: #ffcc00;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
  }
  
  .back-btn:hover {
    background: #ffaa00;
  }
  